.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 105px;
}

.img {
  border-radius: 105px;
}

@media (max-width: 660px) {
  .img {
    width: 235px;
    height: 160px;
  }
}

@media (max-width: 450px) {
  .img {
    width: 160px;
    height: 115px;
  }
}
